@media (prefers-color-scheme: light) {
  :root{
      --bg : #e9f4f6;
      --text-fg : #071012;
      --text-bg : #0710120d;
      --text-bg2 : #0710123a;
      --primary : #c27b6b;
      --secondary : #f7ede4;
      --accent : #44231c;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
      --bg : #071012;
      --text-fg : #e9f4f6;
      --text-bg : #e9f4f60d;
      --text-bg2 : #e9f4f63a;
      --primary : #c27b6b;
      --secondary : #0d1d21;
      --accent : #b05c49;
  }
}

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 16px;
  background: var(--bg);
}

::-webkit-scrollbar-track{
  background: var(--bg);
}

::-webkit-scrollbar-corner{
  background-color: transparent!important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-bg);
  border-radius: 12px;
  border: 3px solid var(--bg);
}

body{
  font-family: 'Inter', sans-serif;
  background:var(--bg);
  color: var(--text-fg);

}


/* input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}
nav > div > label{
  display: block;
  width: 50px;
  height: 20px;
  background-color: var(--text-fg);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

nav > div > label::after{
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--bg);
  position: absolute;
  border-radius: 70px;
  top: 2px;
  left: 2px;
  transition: 0.5s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
} */


main{
  display: flex;
  flex-direction: column;
}

main > nav{
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-bg);
}

main > nav > input{
  padding: 1em;
  width: 95%;
  background-color: transparent;
  font-size: 1rem;
  color: var(--text-fg);
  border: none;
  border-bottom: 1px var(--primary) solid;
  font-family: sans-serif;
  letter-spacing: 2px;
}
main > nav > input::placeholder{
  color: var(--text-bg2);
}

/* main > nav > div{
  display: flex;
  margin: 0 1em;
} */

#TodoList{
  display: grid;
  margin: 2em;
  grid-template-columns: 50% 50%;
}

#TodoList li{
  cursor: pointer;
  position: relative;
  list-style-type: none;
  padding: 12px 8px 12px 40px;
  margin: 1px;
  font-size: 18px;
  transition: 0.2s;
  background-color: var(--text-bg);
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#TodoList li:hover{
  background-color: var(--text-bg2);
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 20px 12px 20px;
  transition: 0.2s;
}

.close:hover{
  background-color: var(--primary);
}

.checked{
  text-decoration: line-through;
}

li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--text-fg);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


@media (max-width:800px) {
  #TodoList{
    grid-template-columns: auto;
  }
}